# Dependencies
node_modules/
yarn.lock
.pnp
.pnp.js

# Build outputs
dist/
build/
.next/
out/
.gradle/
android/.gradle/
*.log

# Environment variables
.env
.env.local
.env*.local

# Prisma
prisma/*.db
prisma/*.db-journal

# IDE
.vscode/
.idea/
local.properties
android/local.properties
android/app/google-services.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

